In [1]:
import sys
sys.path.append('../koalas/')

In [2]:
from koalas import DataFrame

In [3]:
def download_dataset(name):
    from urllib import request
    with request.urlopen(request.Request(f'https://datasets.imdbws.com/{name}')) as response:
        if response.status == 200:
            with open(name, "wb") as f:
                f.write(response.read())

def get_dataset(name):
    import gzip
    with gzip.open(name, 'rb') as f:
        lines = f.read().decode('utf8').splitlines()
        lines = [line.split('\t') for line in lines]
        headers, rows = lines[0], lines[1:]
        return DataFrame(fields=headers, rows=rows)

In [4]:
df = get_dataset("title.basics.tsv.gz")

In [5]:
df[:1]

tconst    titleType primaryTitle originalTitle isAdult startYear endYear runtimeMinutes genres
------    --------- ------------ ------------- ------- --------- ------- -------------- ------
tt0000001 short     Carmencita   Carmencita    0       1894      \N      1              Documentary,Short

In [6]:
(
    df
        .select('titleType', 'primaryTitle')
        .group('titleType')
        .apply('count', len, 'primaryTitle')
        .select('titleType', 'count')
        .sort('count')
        .reverse()
)

titleType    count
---------    -----
tvEpisode    7810007
short        957032
movie        660071
video        281648
tvSeries     250750
tvMovie      143225
tvMiniSeries 50827
tvSpecial    43832
videoGame    36221
tvShort      10039
tvPilot      1

In [10]:
(
    df
        .select('startYear', 'runtimeMinutes')
        .rename('startYear', 'Year')
        .rename('runtimeMinutes', 'Duration')
        .apply('ValidYear', str.isnumeric, 'Year')
        .filter('ValidYear', True)
        .apply('ValidDuration', str.isnumeric, 'Duration')
        .filter('ValidDuration', True)
        .apply('DurationMinutes', int, 'Duration')
        .select('Year', 'DurationMinutes')
        .rename('DurationMinutes', 'Duration')
        .group('Year')
        .apply('Average Duration', lambda durations: sum(durations) / len(durations), 'Duration')
        .select('Year', 'Average Duration')
        .sort('Year')
        .reverse()
)

Year Average Duration
---- ----------------
\N   38.68760434376388
2029 79.0
2028 86.0
2027 57.0
2026 6116.0
2025 88.08163265306122
2024 59.8037518037518
2023 45.771784097201866
2022 44.70599918463774
2021 42.56906266456029
2020 39.77988115302417
2019 39.841724064474896
2018 37.73977156680259
2017 38.12672645996905
2016 37.5088336810165
2015 38.16544405669112
2014 37.73515325270188
2013 37.852185264761076
2012 39.1653910606313
2011 40.21396760249749
2010 40.7069697578976
2009 42.20539664007265
2008 44.256646610747204
2007 45.558310925206655
2006 47.564421947030645
2005 48.97963304869605
2004 51.12196693627233
2003 50.41621309789561
2002 49.0319323217403
2001 49.52461012232593
2000 50.82041251778094
1999 49.38884808226615
1998 49.16050831545064
1997 49.06465351719323
1996 50.48432082594961
1995 50.41390971316819
1994 51.48293311252185
1993 51.059949170279566
1992 52.99737325978461
1991 52.346850544519235
1990 50.78814876204289
1989 52.141648601491035
1988 53.87387745822439
1987 52.29801179812104
1986 51.1298473030869
1985 51.473842487517025
1984 49.995902856124935
1983 49.83513802950976
1982 51.40838838339773
1981 51.93927205591454
1980 51.22884891148481
1979 51.271010387157695
1978 51.451901856419575
1977 50.67220967631561
1976 49.37503337783711
1975 47.50253872356835
1974 47.080287004391664
1973 48.782714781045335
1972 47.693051552993914
1971 45.15543256626857
1970 45.46558066211245
1969 44.75352977286679
1968 46.29989012498283
1967 44.850991246138
1966 44.70979347101932
1965 45.529750085587125
1964 47.77154046997389
1963 46.11589920380859
1962 48.050684687889024
1961 44.882952490547424
1960 46.88399644584855
1959 47.089296762219014
1958 46.71800868693619
1957 48.02663837812353
1956 50.14685896546942
1955 49.15970802919708
1954 48.08991531947652
1953 50.32459196772419
1952 51.95835935873412
1951 49.06362275449102
1950 55.0905695611578
1949 55.52500899604174
1948 56.054491272882075
1947 57.101926977687626
1946 53.315934065934066
1945 49.818070818070815
1944 52.73889555822329
1943 55.890957446808514
1942 55.17451660882499
1941 56.31967213114754
1940 58.16803278688525
1939 57.42769500438212
1938 54.79289463060154
1937 52.98840463814474
1936 55.024600776866635
1935 54.4546748932131
1934 53.394499762920816
1933 53.216976127320955
1932 51.94755421079173
1931 48.28768382352941
1930 46.40231150247661
1929 42.66977829638273
1928 50.40221914008322
1927 51.84442782348542
1926 51.895591647331784
1925 54.6890243902439
1924 53.6936127744511
1923 56.01771871539314
1922 54.43614718614719
1921 51.88412852969815
1920 51.9472710453284
1919 52.24531668153434
1918 49.53508771929825
1917 46.699769053117784
1916 42.81985940246046
1915 34.255445544554455
1914 22.431024930747924
1913 15.799932523616734
1912 14.89805375347544
1911 15.400621118012422
1910 13.42117117117117
1909 9.36
1908 9.328671328671328
1907 7.752380952380952
1906 6.613526570048309
1905 5.4051282051282055
1904 4.354679802955665
1903 3.4702970297029703
1902 2.7933333333333334
1901 2.5538461538461537
1900 2.325358851674641
1899 2.3459119496855347
1898 1.3169014084507042
1897 1.5850622406639003
1896 1.3192982456140352
1895 1.2195121951219512
1894 2.3947368421052633
1893 1.0
1892 4.6
1891 1.0
1890 1.0
1889 1.0
1888 1.0
1887 1.0
1885 1.0
1883 1.0
1882 1.0
1881 1.0
1878 1.0
1877 1.0
1874 1.0